<h3>Staff access granted</h3>

<p>Hello <b><%= @user.first_name %> <%= @user.last_name %></b>,</p>
<p>You're now a staff on The Youth Review!</p>
<p>That means you have access to our internal staff dashboard that allows you to manage users and writings.</p>
<p>Thank you for your continued effort and we're proud to have you on our team.</p>

<table class="button">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="https://theyouthreview.com/admin">Visit the staff dashboard</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>