<h3>Your first writing has been approved and published!</h3>

<p>Hey <b><%= @user.first_name %> <%= @user.last_name %></b>,</p>
<p>Your first writing, which you recently submitted, has been approved and published on The Youth Review!</p>
<p>Your new writings will now be published automatically.</p>
<p>It is exactly your talent and creativity that we showcase here on The Youth Review.</p>
<p>We thank you for your contribution to The Youth Review and we can't wait to see what you write next!</p>

<table class="button">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="https://theyouthreview.com/">View my writing on home page</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>