<h3>Your writing is featured!</h3>

<p>Hello <b><%= @writing.user.first_name %> <%= @writing.user.last_name %></b>,</p>
<p>Your writing titled <b><%= @writing.title %></b> has been featured on The Youth Review!</p>
<p>It's now on display at "Best of The Youth Review" row on the home page, which means its ingenuity and creativity will impress even more readers from the globe.</p>
<p>Thank you for your high-quality contribution and please write more to help us build a global youth conversation!</p>

<table class="button">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="https://theyouthreview.com/">Visit homepage to check it out</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>