<h3>Your writing is featured for banner!</h3>

<p>Hello <b><%= @writing.user.first_name %> <%= @writing.user.last_name %></b>,</p>
<p>Your writing titled <b><%= @writing.title %></b> has been featured for <b>banner</b> on The Youth Review!</p>
<p>It's now on display at the top of the home page, with <b>special styling</b>. It's the first thing readers see when they visit The Youth Review.</p>
<p>Thank you for your amazing contribution and please write more to help us build a global youth conversation!</p>

<table class="button">
  <tr>
    <td>
      <table>
        <tr>
          <td><a href="https://theyouthreview.com/">Visit homepage to check it out</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>