<div>
  <div class="ui left aligned basic segment" id="hero-image">
    <div class="ui container" style="padding-left: 30px;">
      <div class="ui massive header" style="margin-top: 60px; font-size: 60px; color: rgba(0,0,0,.8);">Where<br>young ideas<br>meet.</div>
      <!--<a class="ui huge primary button" href="/writings/welcome-to-the-youth-review">Read Welcome Note <i class="right arrow icon"></i></a>-->
    </div>
  </div>

  <div class="ui vertical stripe center aligned segment" style="padding-top: 40px; padding-bottom: 60px;">
    <div class="ui text container">
      <h1>The Youth Review is a publicly contributed<br>online student magazine where<br>diverse young thoughts meet.</h1>
    </div>
  </div>

  <div class="ui vertical stripe center aligned segment" style="padding-top: 40px; padding-bottom: 60px;">
    <div class="ui text container">
      <h1>Why write/read on The Youth Review?</h1>
      <br>
      <h2>1. Everyone welcome</h2>
      <p>Anyone can contribute to The Youth Review. We welcome youths from around the globe to showcase their diverse ideas, creativity and talents.</p>
      <h2>2. Quality content</h2>
      <p>The Youth Review has an efficient submission/review process that effectively ensures the quality of the content.</p>
      <h2>3. Ease-to-use editor</h2>
      <p>When you write on The Youth Review, our rich-text editor takes care of formatting and image uploading so your poem/commentary/script/story will always look great.</p>
      <h2>4. Amazing community</h2>
      <p>Our mission is to showcase youth's creativity and thoughtfulness. Enrich your mind with some of the best thoughts of young people from around the globe.</p>
      <br>
      <a class="ui huge primary button" href="/signup">Get started now <i class="right arrow icon"></i></a>
    </div>
  </div>

  <!--<div class="ui vertical stripe center aligned segment" style="padding-top: 40px; padding-bottom: 60px;">-->
    <!--<div class="ui text container">-->
      <!--<h1>Staff applications are available. Join us now!</h1>-->
      <!--<p>If you love The Youth Review's mission and would like to join an amazing and growing team, apply for a staff position.-->
        <!--Staff are able to manage The Youth Review's contents as well as to directly influence this platform's future.</p>-->
      <!--<div class="ui styled fluid accordion">-->
        <!--<div class="title">-->
          <!--<i class="dropdown icon"></i>-->
          <!--Content Managers-->
        <!--</div>-->
        <!--<div class="content">-->
          <!--<p class="transition hidden" style="font-size: 15px;">-->
            <!--The Youth Review's quality content is what makes it unique.-->
            <!--Content Managers are responsible for managing writings and-->
            <!--have access to our internal staff dashboard.-->
          <!--</p>-->
        <!--</div>-->
        <!--<div class="title">-->
          <!--<i class="dropdown icon"></i>-->
          <!--Software Managers-->
        <!--</div>-->
        <!--<div class="content">-->
          <!--<p class="transition hidden" style="font-size: 15px;">The Youth Review's web interface and logic enable thoughtful students to-->
            <!--share their ideas with thousands around the world. If you're good at HTML/CSS/JS/Ruby, you can join us.-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<br>-->
      <!--<a class="ui huge button" href="https://airtable.com/shr7G3JxwBQYpijJk" rel=”nofollow” target="_blank">Apply Here</a>-->
    <!--</div>-->
  <!--</div>-->

  <div class="ui vertical stripe center aligned segment" style="padding-top: 40px; padding-bottom: 60px;">
    <div class="ui text container">
      <h1>Contact Us</h1>
      <p>If there's anything you'd like to say to us, please do not hesitate to contact us using the link below. You can also get in touch with us anytime through our <a href="https://www.facebook.com/theyouthreview/" rel=”nofollow” target="_blank">Facebook Page</a>. We appreciate your feedback.</p>
      <br>
      <a class="ui huge button" href="https://airtable.com/shrP0lx6biJiVd4uT" rel=”nofollow” target="_blank">Contact Us</a>
    </div>
  </div>

</div>
