<h2>Email reset instructions</h2>

<p>Dear <b><%= @user.first_name %> <%= @user.last_name %></b>,</p>
<p>There was a request to change your password for your account at The Youth Review. You can do so through the link below:</p>
<table class="button">
  <tr>
    <td>
      <table>
        <tr>
          <td><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
